.app{
    .test{
        display: none;
    }
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(32, 30, 30, 1); 
    .box{
        width: 1600px;
        margin: 0 auto 0 auto;
    }
}