.header{
   display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    .logo{
        justify-self: center;
        svg{
            width: 12em;
            margin-left: 4em;
        }
    }
   h1{
    color:#eee;
    justify-self: center;
    font-size: 24px;
    opacity: 0;
   }
}